/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

:root {
    --primary: #F9004D;
    --secondary: #868690;
}

/* basic typography */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--secondary);
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

h1 {
    font-weight: 900;
}

strong {
    font-weight: 700;
}

p {
    color: var(--secondary);
}

/* basic stylings */

.bg-dark-1 {
    background: #191919;
}

.bg-dark-2 {
    background: #101010;
}

.section-title {
    font-size: 62px;
    font-weight: 800;
    color: white;
    margin-bottom: 15px;
}

.section-title-center p {
    max-width: 960px;
    margin: 0 auto;
}

.custom-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 .75rem;
    max-width: 1820px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-pink {
    color: var(--primary);
}

/* Nav Bar */

.navbar {
    padding-top: 30px;
    background-color: transparent;
    z-index: 99;
}

.navbar-nav .nav-link {
    font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--primary) !important;
}

.header {
    margin-top: -84px;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    background-color: #000;
    padding: 10px 0;
    transition: transform .3s;
}

/* Home section */
.site-title {
    font-size: 75px;
}

.site-title .text-name {
    color: transparent;
    -webkit-text-stroke: 3px var(--primary);
}

p.my-job {
    color: white;
}

.scroll-down-arrow {
    left: 50%;
    bottom: 40px;
}

.animated {
    position: relative;
    animation: fadeInDown 1.5s infinite;
}

@keyframes fadeInDown {
    0% {
        top: -25px;
        opecity: 0;
    }

    100% {
        top: 10px;
        opecity: 1;
    }
}

/* about section */
.nav-tabs .nav-link {
    color: white !important;
}

.nav-tabs .nav-link.active {
    background: #3e3e3e;
    border-color: rgba(255, 255, 255, .2);
    color: white;
}

.nav-tabs .nav-link:hover {
    border-color: rgba(255, 255, 255, .3)
}

.nav-tabs {
    border-color: var(--secondary);
}

/* services section */
.single-service-icon i {
    color: var(--primary);
    font-size: 26px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.single-service-icon {
    min-width: 72px;
    min-height: 72px;
    background-color: #3c3c3c;
    border-radius: 5px;
}

.single-services p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

.prt-item img {
    max-width: 100%;
}

.grid-item {
    margin-bottom: 20px;
}

/* Testimonial section */


/* Contact section */


/* footer */


/* back to top */


/* Responsiveness */